@font-face {font-family: "OCR-A";
    src:
    url("font/OCRA/OCRA.woff2") format("woff2"), /* chrome, firefox */
    url("font/OCRA/OCRA.woff") format("woff"), /* chrome, firefox */
    url("font/OCRA/OCRA.ttf") format("truetype"); /* chrome,firefox, opera, Safari, Android, iOS 4.2+*/
  }

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    --c-light: #F7F7F2;
    --c-red: #A88E23;
    --c-dark: #294120;
    font-family: "OCR-A", monospace;
    z-index: 0;
}

.page{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    box-shadow: #00000036 0px 0px 10px;
}

.paper{
    background-color: var(--c-light);
    background-image: url(./img/handmadepaper.png);
    background-repeat: repeat;
    background-blend-mode: luminosity;
    background-size: 175px;
}

#top1{
    position: fixed;
    top:0;
    left: 0;
    
    z-index: 0;
}

#top1 img{
    display: block;
    margin: auto;
    margin-top: 20vh;
    height: 20vh;
    filter: opacity(0.2);
}

#top1 h1{
    text-align: center;
    font-size: 40px;
    max-height: 10vh;
    color: transparent;
    background: linear-gradient(45deg, #846D11, #cabd87, #BEAD65);
    background-clip: text;
    -webkit-background-clip: text;
}

#top1 div{
    font-size: 25px;
    position: absolute;
    width: 100%;
    bottom: 15vh;
    text-align: center;
}

#top1 div a{
    color: var(--c-dark);
    opacity: 0.6;
    text-decoration: underline;
    margin: 10px;
}

#top2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    padding-top: 50vh;
}

#top2 h2{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--c-light);
}



#back1{
    position: relative;
    background-attachment: fixed;
    z-index: -2;
}

#back2{
    position: relative;
    background-color: var(--c-dark);
    background-image: url(./img/spiration-light.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-size: 1000px;
    z-index: -10;
}

#projects{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    z-index: 2;
    position: relative;
}


.projectbox{
    display: block;
    box-sizing: border-box;
    margin: 20px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: #00000027 3px 3px 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--c-light);
    text-decoration: none;
    color: var(--c-dark);
    text-shadow: var(--c-light) 0px 0px 10px;
}

.projectbox *{
    margin-top: 10px;
    margin-bottom: 10px;
}

#tinyled{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/tinyled.jpg);
    background-size: cover;
}

#xmas2021{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/xmas2021.PNG);
    background-size: cover;
}

#xmas2022{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/xmas2022.jpg);
    background-size: cover;
}

#CASEsound{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/dark_shot.jpg);
    background-size: cover;
}

#pointtwo{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/pointtwo.jpg);
    background-size: cover;
}

#pointsource{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/tinyled.jpg);
    background-size: cover;
}

#TINYPLAY{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/TINYPLAY.png);
    background-size: cover;
}

#helios{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/helios.jpg);
    background-size: cover;
}

#mechhand{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/hand.png);
    background-size: cover;
}

#badboards{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/badboards.jpg);
    background-size: cover;
}

#SSQB{
    background-image: linear-gradient(#FFFFFF00, var(--c-light)), url(img/SSQB.jpg);
    background-size: cover;
}

#contact{
    text-align: center;
    color: var(--c-dark);
    padding-top: 20vh;
    padding-bottom: 20vh;
    z-index: 2;
    position: relative;
}

#contact a{
    display: inline-block;
    box-sizing: border-box;
    color: var(--c-light);
    font-size: 24px;
    padding: 30px;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--c-dark);
    margin: 10px;
    box-shadow: #00000057 3px 3px 5px;
}

